<mat-tab-group (selectedTabChange)="onClickTab($event)">
  <mat-tab label="Create User">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 mt-5 mb-3">
          <mat-card class="example-card">
            <mat-card-header class="justify-content-center">
              <h1 class="text-center display-4">Create User</h1>
            </mat-card-header>
            <mat-card-content>
              <form [formGroup]="form" (ngSubmit)="submit()">
                <p>
                  <mat-form-field>
                    <input
                      type="text"
                      matInput
                      [(ngModel)]="username"
                      name="username"
                      placeholder="Username"
                      formControlName="username"
                    />
                  </mat-form-field>
                </p>
                <div class="button">
                  <button type="submit" class="btn btn-success">
                    Submit
                  </button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Select User">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 mt-5 mb-3">
          <h1 class="text-center">Please Select User</h1>
          <div class="list-group mt-1" *ngFor="let user of users">
            <a
              class="list-group-item list-group-item-action"
              [ngClass]="{
                'active': user.value.name == avatar
              }"
              value="user.value.name"
              (click)="selectUser(user.value.name)"
            >
              {{ user.value.name }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Chat">
    <div class="container content">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="card">
            <div class="card-header">Chat</div>
            <div class="card-body height3 scroll" style="height: 400px;">
              <div
                class="h-100 row align-items-center justify-content-center"
                *ngIf="chats.length == 0"
              >
                <small>Chats something...</small>
              </div>
              <ul class="chat-list" *ngFor="let chat of chats">
                <li class="in" *ngIf="chat.value.name != avatar">
                  <div class="chat-img">
                    <img
                      alt="Avtar"
                      src="https://bootdey.com/img/Content/avatar/avatar1.png"
                    />
                  </div>
                  <div class="chat-body">
                    <div class="chat-message">
                      <h5>{{ chat.value.name }}</h5>
                      <p>{{ chat.value.message }}</p>
                    </div>
                  </div>
                </li>
                <li class="out" *ngIf="chat.value.name == avatar">
                  <div class="chat-img">
                    <img
                      alt="Avtar"
                      src="https://bootdey.com/img/Content/avatar/avatar6.png"
                    />
                  </div>
                  <div class="chat-body">
                    <div class="chat-message">
                      <h5>{{ chat.value.name }}</h5>
                      <p>{{ chat.value.message }}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-5">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Textarea</mat-label>
              <input
                matInput
                [(ngModel)]="text"
                name="text"
                placeholder="Type something..."
              />
            </mat-form-field>
          </form>
        </div>
        <div class="col-lg-1">
          <div class="example-button-row">
            <button (click)="onClickSend()" mat-raised-button color="warn">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
